body {
  background-color: #13151a;
  color: white;
  text-align: center;
}
header {
  background-color: rgb(25, 118, 210);
}
.nameLogo{
  cursor: pointer;
  position: relative;
  right: 5em;
  background-image: url(https://media.giphy.com/media/26BROrSHlmyzzHf3i/giphy.gif);
	background-size: cover;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	line-height: .75;
}