body {
  background-color: #282c34;
  color: white;
  text-align: center;
}
header {
  background-color: rgb(25, 118, 210);
}
.about {
  display: flex;
}
.aboutText {
  margin: 2em 0 0 2em;
}
.aboutPic {
  margin: 2em 2em 0 2em;
  height: 10em;
  width: 10em;
}
