@import url('https://fonts.googleapis.com/css?family=Montserrat');
/* body {
	background-color: #111;
} */

.greeting {
	font-family: "Montserrat";
	text-align: center;
	color: #FFF;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 80vh;
	letter-spacing: 1px;
}

.greeting h1 {
	background:url(https://66.media.tumblr.com/4562d983bb013868bff9eb54a997ed87/tumblr_oe7fca9J7p1vqfnzao1_400.gif);
	filter: hue-rotate(-80deg);
	background-size: cover;
	background-position: left top;
	color: transparent;
	-moz-background-clip: text;
	-webkit-background-clip: text;
	text-transform: uppercase;
	font-size: 120px;
	line-height: .75;
	margin: 10px 0;
	animation: infinite .1s;
}
.greeting img{
    margin-top: 1em;
    box-shadow: 15px 15px 10px black;
}
@media only screen and (max-width: 600px) {
    .greeting h1 {
      font-size: 50px;
    }
    .greeting img{
        height: 10em;
        width: 75%;
    }
  }
